<div class="container" id="main" data-blogID="{{blog.id}}" data-blogCreator="{{blog.user_id}}" data-currentUser="{{userId}}">
<div class="row main blog_page">
    <div class="col-12 cardBreak">
        <div class="card" data-id="1">
            <div class="cardInfo">
                <div class="cTitle bg-dark">
                    <h5>{{blog.title}}</h5>
                    <h6>Written by: {{blog.username}} at {{blog.createdAt}}</h6>
                </div>
                <p class="cDescription">{{blog.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="post-options">
<button class="bg-dark btn btn-outline-success" id="post-edit-click" data-blog="{{blog.id}}" data-userId="{{userId}}" data-blogCreator="{{blog.user_id}}">Edit Post</button>
</button>
  <button id = "post-delete-click" class="btn bg-dark btn-outline-danger" data-blog="{{blog.id}}" data-userId="{{userId}}" data-blogCreator="{{blog.user_id}}">Delete Post</button>
</button>
</div>
  <div class="row mb-3">
    <div class="col">
      <textarea class="form-control" id="addComment" rows="1" placeholder="Add comment..."></textarea>
    </div>
    <div class="col">
      <button class="btn bg-dark btn-outline-success" id="commentSubmit" data-blog="{{blog.id}}" data-userId="{{userId}}" type="submit">Post Comment</button>
    </div>
  </div>

  {{#each comments as |comment|}}
  <div class="row mb-3 border-bottom border-secondary border-opacity-50">
    <div class="col-2"> 
      <h5>{{comment.username}}</h3>
    </div>
    <div class="col-9">
      <p>{{comment.comment}}</p>
    </div>
    <div class="col-1">
      <button class="btn bg-dark btn-outline-danger d-flex justify-content-center commentDelete" data-blog="{{blog.id}}" data-commentID="{{comment.id}}">❌</button>
    </div>
  </div>
  {{/each}}
</div>

<script src="/scripts/comments.js"></script>
<script src="/scripts/blogs.js"></script>